* {
  margin: 0;
  padding: 0;
  font-family: Nunito, sans-serif;
  font-size: 1em;
  line-height: 1.4;
}

html { 
  height: 100%;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
}

body {
  background: inherit;
  margin: auto 2em;
}

hr {
  width: 4em;
  height: .25em;
  background-color: #22292f;
  border: 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#container {
  position: relative;
  background: inherit;
  vertical-align: middle;
  padding: 4em;
  overflow: hidden;
  border-radius: 0.75em;
}

#container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: inherit;
  box-shadow: inset 0 0 0 10000px rgba(255,255,255,0.4);
  filter: blur(1em);
}

#text {
  position: relative;
}

h1 {
  color: #22292f;
  font-size: 9em;
  font-weight: 900;
}

p {
  color: #22292f;
  font-size: 1.875em;
  font-weight: 300;
  margin-bottom: 2em;
  line-height: 1.5;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 7em;
  }
  
  p {
    font-size: 1.5em;
    margin-bottom: 1.5em;
  }

  body {
    margin: 2em auto;
  }

  #container {
    padding: 4em;
  }
}

@media only screen and (max-width: 750px) {
  h1 {
    font-size: 5em;
  }
  
  p {
    font-size: 1.25em;
    margin-bottom: 1em;
  }

  body {
    margin: 1em auto;
  }

  #container {
    padding: 2em;
  }
}